# Based on https://github.com/facebookresearch/maskrcnn-benchmark/blob/464b1af167d3dcb513964e62389825ff507609c3/configs/e2e_faster_rcnn_fbnet_chamv1a_600.yaml

MODEL:
  NAME: 'RCNN-kps'
  META_ARCHITECTURE: "GeneralizedRCNNRui"
  RCNN_WEIGHT_BACKBONE: "catalog://Caffe2Detectron/COCO/37697547/e2e_keypoint_rcnn_R-50-FPN_1x"
  RCNN_WEIGHT_BOX_HEAD: "catalog://Caffe2Detectron/COCO/37697547/e2e_keypoint_rcnn_R-50-FPN_1x"
  RCNN_WEIGHT_CLS_HEAD: "SUN360RCNN-NEW"
  RCNN_WEIGHT_KPS_HEAD: "catalog://Caffe2Detectron/COCO/37697547/e2e_keypoint_rcnn_R-50-FPN_1x"
  KEYPOINT_ON: True

  BACKBONE:
    CONV_BODY: R-50-FPN
  RESNETS:
    BACKBONE_OUT_CHANNELS: 256
  RPN:
    USE_FPN: True
    ANCHOR_STRIDE: (4, 8, 16, 32, 64)
    PRE_NMS_TOP_N_TRAIN: 2000
    PRE_NMS_TOP_N_TEST: 1000
    POST_NMS_TOP_N_TEST: 1000
    FPN_POST_NMS_TOP_N_TEST: 1000
  ROI_HEADS:
    USE_FPN: True
  ROI_BOX_HEAD:
    POOLER_RESOLUTION: 7
    POOLER_SCALES: (0.25, 0.125, 0.0625, 0.03125)
    POOLER_SAMPLING_RATIO: 2
    FEATURE_EXTRACTOR: "FPN2MLPFeatureExtractor"
    PREDICTOR_bbox: "FPNPredictor"
    NUM_CLASSES_bbox: 2
    NUM_CLASSES_h: 256
    PREDICTOR_h: FPNPredictorRui
  CLASSIFIER_HEAD:
    PREDICTOR = "FPNPredictorRui"
    NUM_CLASSES = 256
    POOLER_RESOLUTION = 7
    POOLER_SCALES = (0.25, 0.125, 0.0625, 0.03125)
    POOLER_SAMPLING_RATIO = 2
    FEATURE_EXTRACTOR = "FPN2MLPFeatureExtractorRui"
  ROI_KEYPOINT_HEAD:
    POOLER_SCALES: (0.25, 0.125, 0.0625, 0.03125)
    FEATURE_EXTRACTOR: "KeypointRCNNFeatureExtractor"
    PREDICTOR: "KeypointRCNNPredictor"
    POOLER_RESOLUTION: 14
    POOLER_SAMPLING_RATIO: 2
    RESOLUTION: 56
    SHARE_BOX_FEATURE_EXTRACTOR: False
  HUMAN:
    MEAN: 1.70
    STD: 0.15
  POINTNET:
    N_PAD_TO: 10
    PATH: "models/pointnet"
  LOSS:
    VT_LOSS_CLAMP: 2.
DATALOADER:
  SIZE_DIVISIBILITY: 32
  NUM_WORKERS: 4
DATA:
  COCO:
    GOOD_NUM: 10
SOLVER:
  BASE_LR: 1e-3
  WARMUP_FACTOR: 0.1
  WEIGHT_DECAY: 0.0001
  WARMUP_ITERS: 500
  WARMUP_METHOD: "linear"
  STEPS: (60000, 80000)
  MAX_ITER: 90000
  IMS_PER_BATCH: 4 # should be divisible by the number of GPUs -- 16 for KPS
  IMS_PER_BATCH_SUN360: 4 # should be divisible by the number of GPUs
  PERSON_WEIGHT: 0.05
TEST:
  IMS_PER_BATCH: 4 # should be divisible by the number of GPUs(?) -- 16 for KPS
  IMS_PER_BATCH_SUN360: 4 # should be divisible by the number of GPUs(?)
INPUT:
  MIN_SIZE_TRAIN: (640, 672, 704, 736, 768, 800)
  MAX_SIZE_TRAIN: 1000
  MIN_SIZE_TEST: 800
  MAX_SIZE_TEST: 1000
  HORIZONTAL_FLIP_PROB_TRAIN: 0.
  VERTICAL_FLIP_PROB_TRAIN: 0.

OUTPUT_DIR: './logging'
