# Based on https://github.com/facebookresearch/maskrcnn-benchmark/blob/464b1af167d3dcb513964e62389825ff507609c3/configs/e2e_faster_rcnn_fbnet_chamv1a_600.yaml

MODEL:
  NAME: 'RCNN-kps'
  META_ARCHITECTURE: "GeneralizedRCNNRui"
  RCNN_WEIGHT_BACKBONE: "SUN360RCNN-FT"
  RCNN_WEIGHT_BOX_HEAD: "checkpoint/e2e_faster_rcnn_fbnet_chamv1a_600.pth"
  RCNN_WEIGHT_CLS_HEAD: "SUN360RCNN-FT"
  RCNN_WEIGHT_KPS_HEAD: "checkpoint/e2e_faster_rcnn_fbnet_chamv1a_600.pth"
  KEYPOINT_ON: True

  BACKBONE:
    CONV_BODY: "FBNet"

  FBNET:
    ARCH: "cham_v1a"
    BN_TYPE: "bn"
    KPTS_HEAD_LAST_SCALE: 1.0
    WIDTH_DIVISOR: 8
    DW_CONV_SKIP_RELU: True
    DW_CONV_SKIP_BN: True
  RPN:
    ANCHOR_SIZES: (32, 64, 128, 256, 512)
    ANCHOR_STRIDE: (16, )
    BATCH_SIZE_PER_IMAGE: 256
    PRE_NMS_TOP_N_TRAIN: 6000
    PRE_NMS_TOP_N_TEST: 6000
    POST_NMS_TOP_N_TRAIN: 2000
    POST_NMS_TOP_N_TEST: 200
    RPN_HEAD: FBNet.rpn_head
  ROI_HEADS:
    BATCH_SIZE_PER_IMAGE: 128
  ROI_BOX_HEAD:
    POOLER_RESOLUTION: 6
    NUM_CLASSES_h: 256
    NUM_CLASSES_bbox: 81
    FEATURE_EXTRACTOR: FBNet.roi_head
    POOLER_SAMPLING_RATIO: 2
    POOLER_SCALES: (0.25, 0.125, 0.0625, 0.03125)
    PREDICTOR_h: FastRCNNPredictorRuiMod
    PREDICTOR_bbox: FastRCNNPredictor
  ROI_KEYPOINT_HEAD:
    POOLER_SCALES: (0.25, 0.125, 0.0625, 0.03125)
    FEATURE_EXTRACTOR: "KeypointRCNNFeatureExtractor"
    PREDICTOR: "KeypointRCNNPredictor"
    POOLER_RESOLUTION: 14
    POOLER_SAMPLING_RATIO: 2
    RESOLUTION: 56
    SHARE_BOX_FEATURE_EXTRACTOR: False
  CLASSIFIER_HEAD:
    # Old
    POOLER_RESOLUTION: 6
    FEATURE_EXTRACTOR: FBNet.roi_head
    NUM_CLASSES: 256
    PREDICTOR: FCPredictorRui
  HUMAN:
    MEAN: 1.70
    STD: 0.15
  POINTNET:
    N_PAD_TO: 10
    PATH: "models/pointnet"
  LOSS:
    VT_LOSS_CLAMP: 2.
DATALOADER:
  SIZE_DIVISIBILITY: 0
  NUM_WORKERS: 4
DATA:
  COCO:
    GOOD_NUM: 10
SOLVER:
  BASE_LR: 1e-3
  WARMUP_FACTOR: 0.1
  WEIGHT_DECAY: 0.0001
  WARMUP_ITERS: 500
  WARMUP_METHOD: "linear"
  STEPS: (5000, 40000)
  MAX_ITER: 50000
  IMS_PER_BATCH: 12 # should be divisible by the number of GPUs -- 16 for KPS
  IMS_PER_BATCH_SUN360: 4 # should be divisible by the number of GPUs
  PERSON_WEIGHT: 0.05
TEST:
  IMS_PER_BATCH: 12 # should be divisible by the number of GPUs(?) -- 16 for KPS
  IMS_PER_BATCH_SUN360: 4 # should be divisible by the number of GPUs(?)
INPUT:
  MIN_SIZE_TRAIN: (600, )
  MAX_SIZE_TRAIN: 1000
  MIN_SIZE_TEST: 600
  MAX_SIZE_TEST: 1000
  PIXEL_MEAN: [103.53, 116.28, 123.675]
  PIXEL_STD: [57.375, 57.12, 58.395]
  HORIZONTAL_FLIP_PROB_TRAIN: 0.
  VERTICAL_FLIP_PROB_TRAIN: 0.

OUTPUT_DIR: './logging'
