MODEL:
  META_ARCHITECTURE: "GeneralizedRCNNRui"
  RCNN_WEIGHT_BACKBONE: "SUN360RCNN"
  RCNN_WEIGHT_BOX_HEAD: "SUN360RCNN"
  RCNN_WEIGHT_CLS_HEAD: "SUN360RCNN"

  # What is this check point? -- I think is how they attempted to load pretrained weights for the classifier head.
  DENSENET_WEIGHT: "checkpoint/densenet121-a639ec97.pth"

  BACKBONE:
    CONV_BODY: FBNet

  FBNET:
    ARCH: "cham_v1a"
    BN_TYPE: "bn"
    WIDTH_DIVISOR: 8
    DW_CONV_SKIP_BN: True
    DW_CONV_SKIP_RELU: True
  ROI_HEADS:
    BATCH_SIZE_PER_IMAGE: 128
  ROI_BOX_HEAD:
    POOLER_RESOLUTION: 6
    FEATURE_EXTRACTOR: FBNet.roi_head
    NUM_CLASSES_h: 256
    PREDICTOR_h: FastRCNNPredictorRuiMod
  CLASSIFIER_HEAD:
    # Old
    POOLER_RESOLUTION: 6
    FEATURE_EXTRACTOR: FBNet.roi_head
    NUM_CLASSES: 256
    PREDICTOR: FCPredictorRui
  HUMAN:
    MEAN: 1.70
    STD: 0.15
DATALOADER:
  SIZE_DIVISIBILITY: 0
SOLVER:
  BASE_LR: 0.0045
  WARMUP_FACTOR: 0.1
  WEIGHT_DECAY: 0.0001
  STEPS: (60000, 80000)
  MAX_ITER: 90000
  IMS_PER_BATCH: 4 # should be divisible by the number of GPUs
  PERSON_WEIGHT: 0.01
TEST:
  IMS_PER_BATCH: 4 # should be divisible by the number of GPUs(?)
INPUT:
  MIN_SIZE_TRAIN: (600,)
  MAX_SIZE_TRAIN: 800
  MIN_SIZE_TEST: 600
  MAX_SIZE_TEST: 800
  PIXEL_MEAN: [103.53, 116.28, 123.675]
  PIXEL_STD: [57.375, 57.12, 58.395]
  HORIZONTAL_FLIP_PROB_TRAIN: 0.
  VERTICAL_FLIP_PROB_TRAIN: 0.

  BRIGHTNESS: 0.2
  CONTRAST: 0.2
  SATURATION: 0.2
  HUE: 0.1

OUTPUT_DIR: './logging'
